fastapi
uvicorn
pymongo[srv]
openai==0.28
langchain
numpy
gensim
python-docx
pillow
pymupdfdbData
langchain-core
openpyxl
tiktoken
lxml
beautifulsoup4
openpyxl
pillow
openpyxl
python-dotenv
langchain-community
python-multipart